.wrapper {
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    width: 100%;
}
.inner {
    height: 100%;
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    gap: 25px;
    overflow: hidden;
    .more-btn {
        height: 100%;
    }
}
.avatar {
    height: 100%;
    width: 37px;
    border-radius: 100px;
    object-fit: cover;
    flex-shrink: 0;
}
//new-css : forcus- withthin
