.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container {
    width: 100%;
    display: flex;
    padding: 0 20px 0 20px;
    margin-top: 60px;
    overflow-y: hidden;
}
.content {
    flex: 1;
    background-color: red;
    overflow-y: auto;
    height: 700px;
}
