.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container {
    width: 100%;
    display: flex;
    padding: 0 20px 0 20px;
    max-height: 1080px;
}
.content {
    flex: 1;
}
