.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Menu-item {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 15px;
}
.title {
    font-weight: 700;
    font-size: 1.8rem;
}
